.main-timeline {
  font-family: "Libre Franklin", sans-serif;
}
.main-timeline:after {
  content: "";
  display: block;
  clear: both;
}
.main-timeline .timeline {
  width: calc(50% + 60px);
  padding: 20px 0 0 60px;
  margin: 0 5px 15px 0;
  float: right;
}
.main-timeline .timeline-content {
  color: #fff;
  background: #f94419;
  text-align: center;
  padding: 20px 20px 20px 160px;
  display: block;
  position: relative;
}
.main-timeline .timeline-content:hover {
  text-decoration: none;
}
.main-timeline .timeline-content:before {
  content: "";
  background: linear-gradient(to top left, transparent 50%, #952000 52%);
  width: 60px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-timeline .timeline-icon {
  font-size: 35px;
  line-height: 54px;
  width: 60px;
  height: 60px;
  border: 4px solid #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 80px;
  top: 50%;
}
.main-timeline .timeline-year {
  background: #ff6134;
  font-size: 35px;
  font-weight: 600;
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20px;
  left: -60px;
}
.main-timeline .title {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 7px 0;
  text-align: start;
}
.main-timeline .description {
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
  text-align: start;
  desc::first-letter {
    font-size: 150%;
    padding-bottom: 0px;
  }
}
.main-timeline .timeline:nth-child(even) {
  padding: 20px 60px 0 0;
  float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 20px 160px 20px 20px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before {
  transform: rotateY(180deg);
  left: auto;
  right: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-year {
  right: -60px;
  left: auto;
}
.main-timeline .timeline:nth-child(even) .timeline-icon {
  left: auto;
  right: 80px;
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-content {
  // background: #1862f7;
  background: #2a2929;
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-content:before {
  // background: linear-gradient(to top left, transparent 50%, #012e95 52%);
  background: linear-gradient(to top left, transparent 50%, #171717 52%);
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-year {
  // background: #3473ff;
  background: #323131;
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-content {
  // background: #22a009;
  background: #2a2929;
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-content:before {
  // background: linear-gradient(to top left, transparent 50%, #123a0a 52%);
  background: linear-gradient(to top left, transparent 50%, #171717 52%);
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-year {
  // background: #28b50c;
  background: #323131;
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-content {
  // background: #f61945;
  background: #2a2929;
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-content:before {
  // background: linear-gradient(to top left, transparent 50%, #95001d 52%);
  background: linear-gradient(to top left, transparent 50%, #171717 52%);
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-year {
  // background: #fe3559;
  background: #323131;
}
.main-timeline .timeline:nth-child(4n + 1) .timeline-content {
  // background: #f61945;
  background: #2a2929;
}
.main-timeline .timeline:nth-child(4n + 1) .timeline-content:before {
  // background: linear-gradient(to top left, transparent 50%, #95001d 52%);
  background: linear-gradient(to top left, transparent 50%, #171717 52%);
}
.main-timeline .timeline:nth-child(4n + 1) .timeline-year {
  // background: #fe3559;
  background: #323131;
}
@media screen and (max-width: 990px) {
  .main-timeline .timeline {
    width: calc(50% + 120px);
  }
}
@media screen and (max-width: 767px) {
  .main-timeline .timeline {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even) {
    text-align: center;
    padding: 42px 20px 0 0;
    margin: 0 0 30px;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 150px 20px 20px;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline:nth-child(even) .timeline-content:before {
    width: 60px;
    transform: rotate(90deg);
    bottom: auto;
    top: 20px;
    left: -20px;
  }
  .main-timeline .timeline-year,
  .main-timeline .timeline:nth-child(even) .timeline-year {
    width: 100%;
    height: 100px;
    left: auto;
    right: -20px;
    top: -42px;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    transform: translateX(-50%) translateY(0);
    top: 75px;
    left: 50%;
    right: auto;
  }
  .main-timeline .title {
    font-size: 20px;
  }
}
