.faq-control {
  .accordion-item {
    border-radius: 0px !important;
    .accordion-header {
    }
    .accordion-button {
      border-radius: 0px !important;
      font-size: 1.3rem;
    }
    .accordion-body {
      font-size: 1.2rem;
    }
  }
}
