.my_pic {
    aspect-ratio: 1;
}

@media only screen and (max-width: 600px) {
    #logo_ecosystem {
        margin: auto;
        width: 55%;
        padding-top: 30px;
    }

    .my_pic {
        width: 100px !important;
        height: 100px !important;
    }
}

@media only screen and (min-width: 600px) {
    #logo_ecosystem {
        margin: auto;
        width: 55%;
        padding-top: 30px;
    }

    .my_pic {
        width: 130px !important;
        height: 130px !important;
    }
}

@media only screen and (min-width: 768px) {
    #logo_ecosystem {
        margin: auto;
        width: 50%;
        padding-top: 30px;
    }

    .my_pic {
        width: 140px !important;
        height: 140px !important;
    }
}

@media only screen and (min-width: 992px) {
    #logo_ecosystem {
        margin: auto;
        width: 30%;
        padding-top: 30px;
    }

    .my_pic {
        width: 180px !important;
        height: 180px !important;
    }
}

@media only screen and (min-width: 1200px) {
    #logo_ecosystem {
        margin: auto;
        width: 30%;
        padding-top: 30px;
    }

    .my_pic {
        width: 200px !important;
        height: 200px !important;
    }
}