.team-member {
  .card {
    height: 100%;
    .card-title {
      font-size: 2rem;
    }
    .member-occupation {
      font-size: 1.5rem;
    }
    .member-company {
      color: rgb(0, 77, 25);
      font-weight: bold;
    }
  }
}
