.footer-item {
  ul {
    li {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  span {
    font-size: 0.9rem;
  }
}
